html,
body {
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
}

textarea {
	border: 0;
	resize: none;
	height: 95vh;
	width: 100%;
	padding: 0.5em;
	box-sizing: border-box;
	line-height: 1.5;
}

textarea[readonly] {
	background: #eee;
}
